{% extends sonata_block.templates.block_base %}

{% block block %}
<div class="clearfix">
	<div class="col-md-12">
		<legend><i class="fa fa-history"></i> notes & changes</legend>
		{% include '@CoreLoggableEntity/LoggableEntityHelper/listLogs.html.twig' with { logEntries: entries } %}
	</div>
</div>
{% endblock %}