/web/bundles/*
/web/themes/
/web/sitemap*.xml
/app/bootstrap.php.cache
/app/cache/*
/app/sessions/*
/app/config/parameters.yml
/app/spool/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/uploads
/web/css
/web/js
/composer.phar
.DS_Store
/.svn
/.keep
/public_html
/log
.idea
!/web/dist/.gitkeep
.sass-cache
/user_files/*
!/user_files/.gitkeep
/sitebuild/