<div class="container">
    <div style="position: absolute;left:5px; right: 5px;" class="text-right" ng-show="$root.loading">loading</div>
    <h1>qg v2 app</h1>
    <label for="">debug <input type="checkbox" ng-model="$root.debug"></label>

    <questions questions="ctrl.state.questions" groups="ctrl.state.groups"></questions>

    <h3>quotation</h3>
    <div style="position: fixed; right: 0px; top: 20px; padding: 5px; background: rgba(255,255,255, 0.5); opacity: 0.7;">
        <h3 class="text-center">
            total:
            <br>
            {{ctrl.state.quotation.total.currency}}{{ctrl.state.quotation.total.amount}}
        </h3>
    </div>
    <table class="table table-striped">
        <thead  style="font-weight: bold;">
            <tr>
                <td>item</td>
                <td>currency</td>
                <td>amount</td>
            </tr>
        </thead>
        <tr ng-repeat="quotationItem in ctrl.state.quotation.items">
            <td>{{quotationItem.name}}</td>
            <td>{{quotationItem.price.currency}}</td>
            <td>{{quotationItem.price.amount}}</td>
        </tr>
        <tfoot>
            <tr style="font-weight: bold;">
                <td>total: </td>
                <td>{{ctrl.state.quotation.total.currency}}</td>
                <td>{{ctrl.state.quotation.total.amount}}</td>
            </tr>
        </tfoot>
    </table>
</div>