body
    background #FFF

.question-group
    background: #FAFAFA;
    border: 1px solid #DDD
    //padding: 3px


.question
    background: #EEE
    border: 1px solid #DDD
    padding: 3px
    margin: 3px