.question-group
  background: #FFF;
  padding: 10px
  margin-bottom: 3px;
  clear: both;

  h3
    padding: 3px
    margin: 0px;

.question
  padding: 3px
  margin: 3px

  .question-label
    vertical-align: top
    padding-right: 5px;

  .question-hint
    display: block;
    padding: 0px;
    margin-left: 20px;

  .question-type-wrapper
    display: inline-block;

  .question-choice
    font-weight: normal;

  .question-choice-hint,
  .question-choice-quotation
    font-weight: normal;

  .question-choice-image
    max-height: 100px;
    max-width: 100px;

.questions-horizontal
  .question-choice-image
    display: inline-block
  .question-choice
    padding-left: 10px;
    display: inline-block;


