.question-group
  background: #FFF;
  padding: 10px
  margin-bottom: 3px;
  clear: both;

  h3
    padding: 3px
    margin: 0px;

.question
  padding: 3px
  margin: 3px

  .question-label
    vertical-align: top
    padding-right: 5px;

  .question-hint
    display: block;
    padding: 0px;

  .question-type-wrapper
    display: inline-block;

  .question-type-singlechoice
    .question-choice
      display: inline
      padding-left: 5px;

      &.question-choice--has-image
        display: inline-block;
        max-width: 25%;

        .question-choice-hint
          display: block;

        label
          text-align: center;
          .question-choice-text
            padding-left: 3px


  .question-choice
    font-weight: normal;

  .question-choice-hint,
  .question-choice-quotation
    font-weight: normal;

  .question-choice-image
    max-height: 120px;
    max-width: 100%;
    overflow: hidden;

.questions-horizontal
  .question-choice-image
    display: inline-block
  .question-choice
    padding-left: 10px;
    display: inline-block;


