#menubutton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 101;
}

#menubutton:hover {
  cursor: pointer;
}

#menu {
  position: fixed;
  top: 68px;
  left: 0;
  background: whitesmoke;
  border-right: 1px solid floralwhite;
  height: 100%;
  width: 300px;
  z-index: 100;
}

#menu .menu-content {
  margin: 3rem;
  color: black;
}

#menu input {
  width: 260px;
}

#menu select {
  height: 26px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  width: 260px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #CCCCCC;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #FFFFFF;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.gantt-side-content > .side-element {
  width: 100%;
}

.gantt-body-rows {
  background-image: linear-gradient(90deg, transparent 2em, transparent 2em), linear-gradient(transparent 2em, #EEEEEE 2em);
  background-size: 100% 4em;
}

.gantt-tree-body > div[gantt-vertical-scroll-receiver] {
  background-image: linear-gradient(90deg, transparent 2em, transparent 2em), linear-gradient(transparent 2em, #EEEEEE 2em);
  background-size: 100% 4em;
  height: 100%;
}

.gantt-row-lifecycle {
  font-weight: 700
}

.gantt-task .gantt-task-content {
  display: flex;
  width: max-content;
  font-style: italic;
  left: 100%;
}

.gantt-task-content > span {
  align-self: center;
}

.gantt-task.sales-task .gantt-task-background {
  background-color: #45607D;
}

.gantt-task.team-task .gantt-task-background, .gantt-task.pm-task .gantt-task-background {
  background-color: #5993C6;
}

.gantt-task.client-task .gantt-task-background {
  background-color: #F7BF43;
}

.gantt-task-background .gantt-task-progress.ng-gantt-progress {
  background-color: #9E0D0D !important;
}

.gantt-task-group.inprogress {
  background-color: #9E0D0D;
}

.gantt-task-group.inprogress .gantt-task-group-left-main {
  background-color: #9E0D0D;
}

.gantt-task-group.inprogress .gantt-task-group-right-main {
  background-color: #9E0D0D;
}

.gantt-task-group.inprogress .gantt-task-group-left-symbol {
  border-top: 12px solid #9E0D0D;
}

.gantt-task-group.inprogress .gantt-task-group-right-symbol {
  border-top: 12px solid #9E0D0D;
}

.gantt-task-group-label {
  width: max-content;
  position: absolute;
  left: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.gantt-condensed-tooltip-container {
  position: fixed;
  z-index: 1;
}

.gantt-task-group-current-date {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: -2px;
}

.gantt-task-infoArrowT:before {
  z-index: 9999;
}

.gantt-task-infoArrowT:after {
  z-index: 10000;
}

.gantt-task-infoArrowB:before {
  top: -8px !important;
  border-bottom: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 0 !important;
}

.gantt-task-infoArrowB:after {
  top: -6px !important;
  border-bottom: 7px solid #FFFFFF;
  border-top: 0 !important;
  z-index: 999;
}

.gantt-condensedgroup-info-content {
  font-weight: normal;
}

.gantt-condensed-task-group-item {
  height: 100%;
}

/*
 * lifecycle A
 */
.gantt-task-group.gantt-lifecycle-A {
  background-color: #E81D62;
}

.gantt-task-group.gantt-lifecycle-A .gantt-task-group-current-date {
  background-color: #E81D62;
}

.gantt-task-group.gantt-lifecycle-A .gantt-task-group-left-main {
  background-color: #E81D62;
}

.gantt-task-group.gantt-lifecycle-A .gantt-task-group-right-main {
  background-color: #E81D62;
}

.gantt-task-group.gantt-lifecycle-A .gantt-task-group-left-symbol {
  border-top: 12px solid #E81D62;
}

.gantt-task-group.gantt-lifecycle-A .gantt-task-group-right-symbol {
  border-top: 12px solid #E81D62;
}

/*
 * lifecycle B
 */
.gantt-task-group.gantt-lifecycle-B {
  background-color: #9B26AF;
}

.gantt-task-group.gantt-lifecycle-B .gantt-task-group-current-date {
  background-color: #9B26AF;
}

.gantt-task-group.gantt-lifecycle-B .gantt-task-group-left-main {
  background-color: #9B26AF;
}

.gantt-task-group.gantt-lifecycle-B .gantt-task-group-right-main {
  background-color: #9B26AF;
}

.gantt-task-group.gantt-lifecycle-B .gantt-task-group-left-symbol {
  border-top: 12px solid #9B26AF;
}

.gantt-task-group.gantt-lifecycle-B .gantt-task-group-right-symbol {
  border-top: 12px solid #9B26AF;
}

/*
 * lifecycle C
 */
.gantt-task-group.gantt-lifecycle-C {
  background-color: #3E50B4;
}

.gantt-task-group.gantt-lifecycle-C .gantt-task-group-current-date {
  background-color: #3E50B4;
}

.gantt-task-group.gantt-lifecycle-C .gantt-task-group-left-main {
  background-color: #3E50B4;
}

.gantt-task-group.gantt-lifecycle-C .gantt-task-group-right-main {
  background-color: #3E50B4;
}

.gantt-task-group.gantt-lifecycle-C .gantt-task-group-left-symbol {
  border-top: 12px solid #3E50B4;
}

.gantt-task-group.gantt-lifecycle-C .gantt-task-group-right-symbol {
  border-top: 12px solid #3E50B4;
}

/*
 * lifecycle D
 */
.gantt-task-group.gantt-lifecycle-D {
  background-color: #2095F2;
}

.gantt-task-group.gantt-lifecycle-D .gantt-task-group-current-date {
  background-color: #2095F2;
}

.gantt-task-group.gantt-lifecycle-D .gantt-task-group-left-main {
  background-color: #2095F2;
}

.gantt-task-group.gantt-lifecycle-D .gantt-task-group-right-main {
  background-color: #2095F2;
}

.gantt-task-group.gantt-lifecycle-D .gantt-task-group-left-symbol {
  border-top: 12px solid #2095F2;
}

.gantt-task-group.gantt-lifecycle-D .gantt-task-group-right-symbol {
  border-top: 12px solid #2095F2;
}

/*
 * lifecycle E
 */
.gantt-task-group.gantt-lifecycle-E {
  background-color: #4BAE4F;
}

.gantt-task-group.gantt-lifecycle-E .gantt-task-group-current-date {
  background-color: #4BAE4F;
}

.gantt-task-group.gantt-lifecycle-E .gantt-task-group-left-main {
  background-color: #4BAE4F;
}

.gantt-task-group.gantt-lifecycle-E .gantt-task-group-right-main {
  background-color: #4BAE4F;
}

.gantt-task-group.gantt-lifecycle-E .gantt-task-group-left-symbol {
  border-top: 12px solid #4BAE4F;
}

.gantt-task-group.gantt-lifecycle-E .gantt-task-group-right-symbol {
  border-top: 12px solid #4BAE4F;
}

/*
 * lifecycle F
 */
.gantt-task-group.gantt-lifecycle-F {
  background-color: #FE5621;
}

.gantt-task-group.gantt-lifecycle-F .gantt-task-group-current-date {
  background-color: #FE5621;
}

.gantt-task-group.gantt-lifecycle-F .gantt-task-group-left-main {
  background-color: #FE5621;
}

.gantt-task-group.gantt-lifecycle-F .gantt-task-group-right-main {
  background-color: #FE5621;
}

.gantt-task-group.gantt-lifecycle-F .gantt-task-group-left-symbol {
  border-top: 12px solid #FE5621;
}

.gantt-task-group.gantt-lifecycle-F .gantt-task-group-right-symbol {
  border-top: 12px solid #FE5621;
}

/*
 * lifecycle G
 */
.gantt-task-group.gantt-lifecycle-G {
  background-color: #FEC006;
}

.gantt-task-group.gantt-lifecycle-G .gantt-task-group-current-date {
  background-color: #FEC006;
}

.gantt-task-group.gantt-lifecycle-G .gantt-task-group-left-main {
  background-color: #FEC006;
}

.gantt-task-group.gantt-lifecycle-G .gantt-task-group-right-main {
  background-color: #FEC006;
}

.gantt-task-group.gantt-lifecycle-G .gantt-task-group-left-symbol {
  border-top: 12px solid #FEC006;
}

.gantt-task-group.gantt-lifecycle-G .gantt-task-group-right-symbol {
  border-top: 12px solid #FEC006;
}

/*
 * expanded project row
 */
.gantt-row.gantt-row-expanded .gantt-task-group {
  background-color: #9E1212;
}

.gantt-row.gantt-row-expanded .gantt-task-group-current-date {
  background-color: #9E1212;
}

.gantt-row.gantt-row-expanded .gantt-task-group .gantt-task-group-left-main {
  background-color: #9E1212;
}

.gantt-row.gantt-row-expanded .gantt-task-group .gantt-task-group-right-main {
  background-color: #9E1212;
}

.gantt-row.gantt-row-expanded .gantt-task-group .gantt-task-group-left-symbol {
  border-top: 12px solid #9E1212;
}

.gantt-row.gantt-row-expanded .gantt-task-group .gantt-task-group-right-symbol {
  border-top: 12px solid #9E1212;
}

.navbar {
  margin-bottom: 0;
}


.loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.loading img {
  margin: 30px 0;
}

.gantt-side {
  width: 15% !important;
}

.gantt-scrollable-header {
  width: 85% !important;
}
